# Build output
dist/
node_modules/

# Generated Cypher files
src/cypher/queries/*.cypher.ts

# Test data
data/

# Env files
.env
.env.*

# Ignore all JSON except configs
*.json
!.prettierrc.json
!package.json




